@model IEnumerable<Tampinhas.Models.Project>

@{
    ViewBag.Title = "Os Meus Projectos";
}

<h2>Os Meus Projectos</h2>

<p>
    @Html.ActionLink("Criar Novo Projecto", "Create")
</p>

<h3>Projectos Criados</h3>
<table>
    <tr>
        <th>
            Benefici&aacute;rio
        </th>
        <th>
            Organiza&ccedil;&atilde;o
        </th>
        <th>
            Local
        </th>
        <th>
            Qtd Angariada
        </th>
        <th>
            Data &Uacute;ltima Actualiza&ccedil;&atilde;o
        </th>
        <th>
            Nr Coment&aacute;rios
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BenefiterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.District.Name) /
            @Html.DisplayFor(modelItem => item.Organization.County.Name) /
            @Html.DisplayFor(modelItem => item.Organization.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaisedAmmount) /
            @Html.DisplayFor(modelItem => item.TotalAmmountRaise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectComment.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType.Description)
        </td>        
        <td>
            @Html.ActionLink("Visualizar", "Details", new { id = item.Id }, new { title = "Tem também a possibilidade de comentar" } ) |
            @Html.ActionLink("Actualizar", "Details", new { id = item.Id }, new { title = "Actualizar quantidade de cápsulas angariadas" } ) |
            @Html.ActionLink("Sucesso!", "Details", new { id = item.Id }, new { title = "Projecto terminado com sucesso" }) |
            @Html.ActionLink("Corrigir", "Details", new { id = item.Id }, new { title = "Corrigir informações sobre o projecto" }) |
            @Html.ActionLink("Cancelar", "Details", new { id = item.Id }, new { title = "Cancelar projecto" })
        </td>
    </tr>
}

</table>
